<div class="container-fluid">
  <form (ngSubmit)="onSendLogin(formLogin)" [formGroup]="formLogin">
  <div class="row" style="justify-content: center; justify-items: center; padding: 70px 0;">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Login</mat-card-title>
       </mat-card-header>
       <div class="d-flex mx-auto justify-content-center align-items-center">
         <img  mat-card-image src="../../../../assets/512x512.png" class="img-auction" alt="">
      </div>
      <mat-card-content>
        <div class="row d-flex mx-auto justify-content-center align-items-center">
          <div class="col-10">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email: </mat-label>
              <input matInput placeholder="Escriba su correo electronico" formControlName="email">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row d-flex mx-auto justify-content-center align-items-center">
          <div class="col-10">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="p-3">
        <div class="row d-flex mx-auto align-items-center justify-content-between">
          <div class="col-6">
            <button mat-flat-button class="w-100 bg-gold" type="button" (click)="redirect()">
              Regístrarme
              <mat-icon>save</mat-icon>
            </button>
          </div>
          <div class="col-6">
            <button mat-flat-button class="w-100 bg-blue" type="submit">
              Iniciar Sesión
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
</div>
