.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../../../../assets/Login\ +\ Calidad.png');
  background-size: cover;
}

.container-fluid {
    background-image: url("../../../../assets/Background.jpg") !important;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100% !important;
    width: 100% !important;
  }

.img-auction{
  align-items: center;
  align-content: center;
  height: auto;
  width: 30%;
}
