<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        *ngIf="(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Subastas Web</span>
      <section class="ml-auto d-flex data-basic justify-content-between">
        <mat-divider [vertical]="true" class="mr-2 grey"></mat-divider>
        <span class="mx-1 cursor-pointer" [matMenuTriggerFor]="menu">Nombre usuario</span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>how_to_reg</mat-icon>
            <span>Mi Perfil</span>
          </button>
          <button mat-menu-item>
            <mat-icon>highlight</mat-icon>
            <span>Utilidades</span>
          </button>
        </mat-menu>
        <mat-icon class="mt-1 cursor-pointer" [matMenuTriggerFor]="menu">keyboard_arrow_down</mat-icon>
      </section>
      <button mat-icon-button class="button--logout">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Contenido Aquí -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
