.container-fluid {
  background-image: url("../../../../assets/Background.jpg") !important;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100% !important;
  width: 100% !important;
  object-fit: contain !important;
  }

