<div class="container-fluid">
  <form (ngSubmit)="onSendRegister(formRegister)" [formGroup]="formRegister">
  <div class="row" style="padding: 70px 0">
      <div class="col-xl-6 d-flex mx-auto align-items-center justify-content-center">
        <mat-card class="w-100 mat-elevation-z1">
          <div class="d-flex mx-auto justify-content-center align-items-center">
            <img mat-card-image src="../../../../assets/512x512.png" class="img-fluid w-25" alt="">
          </div>
          <mat-card-content>
            <div class="row">
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Nombre:</mat-label>
                  <input matInput placeholder="Escriba su nombre completo" formControlName="name">
                  <mat-icon matSuffix>people</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Email:</mat-label>
                  <input matInput placeholder="Escriba su correo electronico" formControlName="email">
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Contraseña</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex justify-content-center mx-auto align-items-center">
                <mat-checkbox formControlName="isAdmin" color="primary">¿Deseas subir productos?</mat-checkbox>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="p-3">
            <div class="row d-flex mx-auto align-items-center justify-content-between">
              <div class="col-6">
                <button mat-flat-button class="w-100 bg-gold " [disabled]="!formRegister.valid" type="submit">
                  Regístrarme
                  <mat-icon>save</mat-icon>
                </button>
              </div>
              <div class="col-6">
                <button mat-flat-button class="w-100 bg-blue" (click)="redirect()">
                  Iniciar Sesión
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>
  </form>
</div>
