<div class="container mt-4">
  <div class="row">
    <div class="col-12 d-flex justify-content-start">
      <button mat-flat-button color="primary" (click)="showDialogCreateProduct()">
        Agregar
        <mat-icon>add_outline</mat-icon>
      </button>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-3">
      <ng-container *ngFor="let data of data$ | async">
        <mat-card class="example-card">
          <img mat-card-image [src]="data.image_url" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Nombre: {{data.name}}
            </p>
            <p>Descripcion: {{data.description}}</p>
            <p>Precio: {{data.price | currency}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Iniciar Subasta</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
