<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nombre:</mat-label>
        <input matInput placeholder="Nombre producto">
        <mat-icon matSuffix>find_in_page</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Precio: </mat-label>
        <input matInput placeholder="Precio producto" type="number">
        <mat-icon matSuffix>money</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Descripcion: </mat-label>
          <textarea matInput placeholder="..."></textarea>
        </mat-form-field>
        <mat-icon matSuffix>power_input</mat-icon>
    </div>
  </div>
</div>
