/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-gold {
 background-color: #F2C166;
  color: white;
  }

.bg-blue {
  background-color: #4C48D9;
  color: white;
  }
